.textStyle5 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 6rem;
    margin-right: 15rem;
}

.tedtalkImg {
    width: 55%;
}

.coming_soon {
    width: 40%;
}